<h1>Eat-Da-Burger</h1>


<h2>Burgers that are Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <button data-id="{{id}}" class="devour-burger">{{burger_name}}</button>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are availble!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <p>#{{id}} {{burger_name}}</p>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>

<form class="create-form" action = "/" method="POST">
  <div class="form-group">
    <input type="text" id="bur" name="burger">
  </div>
  <button type="submit">Add Burger</button>
</form>